@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');s

/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

p {
  padding: 5px;
  background-color: #34bfff;
  border: 2px solid gray;
  border-radius: 3px;
}

body {
  margin: 0;
  background-color: #ebeee9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129' height='129' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%232b8dca' fill-opacity='0.43'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.43'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./robot.gif');
  /* background-size: contain; */
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  padding: 10px 30px;
  margin: 15px;
  cursor: pointer;
  font-family: 'DotGothic16', sans-serif;
  background-color: #34bfff;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 3px 3px rgba(1, 1, 1, 0.5);
  outline: none;
}

audio {
  outline: none;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  transform: translateY(3px);
  transform: scaleY(0.98);
  border-style: none;
}

button:disabled {
  cursor: default;
  filter:brightness(30%)
}

/* footer */

.footer {
  width: 100vw;
  height: auto;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0px;
  background-image: url('./Ellipse\ 4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: top;
}

.footer img {
  width: 100px;
  height:auto;
  /* color: var(--on-background); */
}
.f-text {
  font-family: 'Lato', sans-serif;
  color: var(--on-background);
}


/* media querries */

@media only screen and (max-width: 800px) {
  .container {
    background-position:top;
    background-size: 80vw;
  }

  button {
    box-shadow: 4px 5px 3px rgba(1, 1, 1, 0.6);
  }
}


